.outputContainer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
}

@media (max-width: 799px) {
	.outputContainer {
		border-top: 1px solid var(--color-background-2);
		flex-direction: row;
	}
}
