/* ========================================================================== */
/* Copyright 2024 Hilde801 (https://github.com/hilde801) */
/* This file is a part of qr-code-generator */
/* ========================================================================== */

.errorBox {
	background-color: hsl(255, 16%, 8%);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	border-radius: 0.25rem;
	box-shadow: 0 0 2px black;
}

/* TODO Change the colour stuff later */
