/* ========================================================================== */
/* Copyright 2024 Hilde801 (https://github.com/hilde801) */
/* This file is a part of qr-code-generator */
/* ========================================================================== */

.outputBox {
	grid-area: output;
	display: flex;
	flex-direction: column;
}

.outputBox > .qrCodePreview {
	padding: 1rem;
	background-color: white;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
	box-shadow: var(--preset-shadow);
}

.outputBox > .downloadLink {
	padding: 0.5rem 1rem;
	background-color: var(--color-foreground);
	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
	box-shadow: var(--preset-shadow);
}

.outputBox > .downloadLink:active {
	box-shadow: none;
}

@media (max-width: 799px) {
	.outputBox {
		display: grid;
		grid-template-columns: 100px auto;
		grid-template-rows: max-content;
	}

	.outputBox > .qrCodePreview {
		padding: 0.5rem;
		border-radius: 0;
		border-top-left-radius: 0.25rem;
		border-bottom-left-radius: 0.25rem;
	}

	.outputBox > .downloadLink {
		border-radius: 0;
		border-top-right-radius: 0.25rem;
		border-bottom-right-radius: 0.25rem;
	}
}
