.watermarkLink {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	text-decoration: none;
	padding: 0.5rem;
	color: var(--color-foreground-1);
	border: 2px solid var(--color-foreground-1);
	position: relative;
	overflow: hidden;
}

.watermarkLink > svg:last-child {
	position: absolute;
	width: 4rem;
	height: 4rem;
	right: -0.8rem;
	opacity: 10%;
}

.watermarkLink:hover {
	color: var(--color-background-1);
	background-color: var(--color-foreground-1);
	border: 2px solid var(--color-foreground-1);
}
