/* ========================================================================== */
/* Copyright 2024 Hilde801 (https://github.com/hilde801) */
/* This file is a part of qr-code-generator */
/* ========================================================================== */

.footer {
	grid-area: footer;
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}
