/* ========================================================================== */
/* Copyright 2024 Hilde801 (https://github.com/hilde801) */
/* This file is a part of qr-code-generator */
/* ========================================================================== */

.footer {
	grid-area: footer;
	display: flex;
	flex-direction: column;
}

.footer > * {
	padding: 0.5rem;
	background-color: var(--color-foreground);
	box-shadow: var(--preset-shadow);
}

.footer > *:first-child {
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

.footer > *:last-child {
	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}
