/* ========================================================================== */
/* Copyright 2024 Hilde801 (https://github.com/hilde801) */
/* This file is a part of qr-code-generator */
/* ========================================================================== */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	color-scheme: light dark;
	font-family: sans-serif;

	--color-background: hsl(0, 0%, 90%);
	--color-foreground: hsl(0, 0%, 100%);

	--preset-shadow: 0 0 2px gray;
}

body {
	padding: 1rem;
	height: 100vh;
	width: 100vw;
	display: flex;
	background-color: var(--color-background);
	justify-content: center;
}

#root {
	display: grid;
	grid-template-rows: repeat(2, max-content) auto max-content;
	grid-template-columns: auto calc(150px + 2rem);
	grid-template-areas:
		"header header"
		"userInput output"
		"userInput ."
		"footer footer";
	gap: 1rem;

	width: 80ch;
	height: 100%;
}

textarea {
	grid-area: userInput;
	resize: none;
	border-radius: 0.25rem;
	background-color: var(--color-foreground);
	box-shadow: var(--preset-shadow);
	padding: 1rem;
	border: none;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: hsl(225, 16%, 8%);
		--color-foreground: hsl(225, 16%, 16%);
		--preset-shadow: 0 0 2px black;
	}
}

@media (max-width: 799px) {
	#root {
		height: max-content;
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: start;
	}

	textarea {
		height: 500px;
	}
}
